package ${package}.dao;

import ${package}.entity.${className};
import ${package}.entity.${className}Model;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className},${className}Model> {
	
}
